<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>导航模态连用获取window当前vc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A187ACEA1DEAA7F000B717D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A187AD031DEAA7F100B717D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A187AD0E1DEAA7F100B717D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
